.git
.gitignore
.dockerignore
node_modules

coverage
Dockerfile
README.md
dist
.http
.prettierrc
README.md
.env.example
.env.test
docker-compose.yml

**/__tests__
**/*.spec.ts
**/*.test.ts
**/*.e2e-spec.ts 
**/test
**/tests